# Created by Metatosh team; see https://github.com/09pattt/metalias/docs/development.txt

# Ignore all files

*

# Unignore for these following file/directory (Program files)

!.gitignore

!src
!src/**
!docs
!docs/**
!scripts
!scripts/**
!tests
!tests/**

!CHANGELOG.md
!LICENSE
!pyproject.toml
!README.md
!requirements.txt
!template.json

# Except for these following files

metalias.egg-info
.pytest_cache

# Ignore for these following files/directory

*__pycache__
*.DS_Store
